# doc
docs/

# Confidential
**/npl-parsing-cdda13f10f36.json
**/npl-parsing-3412b4cafd20.json
**/config.json

# Large files
data/
*results-*.csv
*results-*.txt


# Dev
dev*.py
example.py
eda/
validation/ref_parsing/

# System files
**/.DS_Store
.idea/*
.mypy_cache/*

# Byte-compiled / optimized / DLL files
**/__pycache__/

# Distribution / packaging
**/eggs/
**/.eggs/
*.egg-info/
*.egg

# Jupyter Notebook
**/.ipynb_checkpoints

# venv
/venv
