

# Confidential
**/npl-parsing-cdda13f10f36.json
**/npl-parsing-3412b4cafd20.json
**/config.json

# Models
models/**/en_*/**

# Large files
data/
*results-*.csv
*results-*.txt
*prep*.csv
*prep*.json
*eval_*.csv
**/bibref_detect/detect*.jsonl
**/bibref_detect/silver.jsonl
**/bibref_detect/val_silver_to_gold.jsonl
**/patent_detect/detect*.jsonl
**/patent_parsing/val_parsing.jsonl

# spaCy models
**/en_core_web_sm*/
**/en_core_web_sm*.tar.gz

# wip
models/norm-standard
models/litigation
models/office-action
models/patent
models/search-report
models/product-documentation
models/webpage

# Dev
dev*.py
example.py
eda/
data-release/
site/

# System files
**/.DS_Store
.idea/*
.mypy_cache/*

# Byte-compiled / optimized / DLL files
**/__pycache__/

# Distribution / packaging
**/eggs/
**/.eggs/
*.egg-info/
*.egg

# Jupyter Notebook
**/.ipynb_checkpoints

# venv
/venv
