

# Confidential
**/npl-parsing-cdda13f10f36.json
**/npl-parsing-3412b4cafd20.json
**/config.json

# Models
models/

# Large files
data_tmp/

# spaCy models
**/en_core_web_sm*/
**/en_core_web_sm*.tar.gz

# Dev
dev*.py
example.py
eda/
data-release/
site/

# System files
**/.DS_Store
.idea/*
.mypy_cache/*

# Byte-compiled / optimized / DLL files
**/__pycache__/

# Distribution / packaging
**/eggs/
**/.eggs/
*.egg-info/
*.egg

# Jupyter Notebook
**/.ipynb_checkpoints

# venv
/venv
