[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
google-cloud-bigquery = "*"

[packages]
lxml = "*"
aiohttp = "*"
tqdm = "*"
click = "*"
beautifulsoup4 = "*"
asyncio = "*"
pre-commit = "*"
pnpl = {editable = true,path = "."}
jsonlines = "*"
jsonschema = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.7"
