/ent_wiki_test.json
/ent_wiki_train.json
/ent_wiki_xx.jsonl
/val_detect_bibref_gold.jsonl
/val_detect_bibref_pred.jsonl
/val_detect_patent_gold.jsonl
/val_detect_patent_pred.jsonl
/val_detect_xx_citations.csv
/val_detect_xx_texts.csv
/val_matching_doi.csv
/val_parsing_bibref_gold.jsonl
/val_parsing_bibref_pred.csv
/val_parsing_patent_orgname_gold.jsonl
/val_parsing_patent_original_number_gold.jsonl
/val_parsing_patent_xx.jsonl
/cat_bibref_test.json
/cat_bibref_train.json
/cat_bibref_xx.jsonl
/cat_npl_test.json
/cat_npl_train.json
